
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color:rgb(245,180,42) ;

}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-color: white;
  color: white;

  

}
.title{
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.progress {
  margin: 1em auto;
  width: 500px;
  display: none;
  background-color: white;
  padding:20px;
  border-radius: 10px;
  color: black;
}

.progressbar {
  position: relative;
  width: 492px;
  border: 1px solid black;
  padding: 3px;
  margin: 2px 0px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);

}
.progressbattle{
  width: 492px;
  text-align:center;
}
.progresstext {
  position: absolute;
  width: 492px;
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 0.7em;
}

.progressfill {
  height: 20px;
  background-color:rgb(245,180,42) ;
  width: 0%;
}

.sorter {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-gap: 5px;
  width: 420px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button {
  border: 1px solid white;
  text-align: center;
  grid-column: 2 / 3;
  cursor: pointer;
  margin-top: 6px;
  padding: 10px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.left.sort.image {
  border-radius:10px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);
}

.right.sort.image{
  border-radius:10px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);
}

.starting.start.button {
  grid-row: span 2;
  font-size: 20px;
  border-radius:10px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);
}

.starting.load.button {
  grid-row: span 2;
  display: none;
  border-radius:10px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);
}

.sorting.tie.button {
  font-size: 20px;
  border-radius:10px;
  grid-row: span 1;
}

.sorting.undo.button {
  font-size: 20px;
  border-radius:10px;
  grid-row: span 1;
}

.sorting.save.button {
  font-size: 20px;
  border-radius:10px;
  grid-row: span 1;
}

.finished.save.button {
  font-size: 20px;
  border-radius:10px;
  grid-row: span 1;
}

.finished.getimg.button {
  font-size: 20px;
  border-radius:10px;
  grid-row: span 1;
}

.finished.list.button {
  font-size: 20px;
  border-radius:10px;
  grid-row: span 1;
}

.sorting.button, .finished.button {
  grid-row: span 2;
  display: none;
}

.loading.button {
  grid-row: span 1;
  border-radius:10px;
  display: none;
}

.loading.button > div {
  width: 25px;
  height: 25px;
  margin: 50px auto;
  background-color: #ffffff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* Animation taken from: http://tobiasahlin.com/spinkit/ */

.loading.button > span {
  margin: auto auto 20%;
  font-size: 0.7em;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.sorter > .image {
  width: 280px;
  height: 350px;
  margin: auto;
  grid-row: 1 / 7;
  cursor: pointer;
}

.left.sort.text{
  border-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);
}
.right.sort.text{
  border-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.35);
}

.sorter > .text {
  width: 280px;
  height: 60px;
  display: none;
}

.sorter > .text > p {
  margin-top: 20px;
  width: calc(100%-10px);
  text-align: center;
  font-size: 16px;
  line-height: 1.5em;

}

.sorter > .left {
  grid-column: 1 / 2;
  border: 1px solid #000000;
  
  position: relative;
  top: 0px;
  left: -170px;
}

.sorter > .right {
  grid-column: 3 / 4;
  border: 1px solid #000000;
  right: -100px;
  
}

.options {
  margin: 1em auto;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 450px;
  
  font-size: 20px;
}

.options > div {
  font-size: 12px;
}

label {
  cursor: pointer;
}

label:hover {
  color: #990000;
}

.options > .large.option, .options > hr {
  grid-column: span 3;
  text-align: center;
  width: 100%;
}

.image.selector {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.time.taken {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.results {
  font-size: 0.75em;
  display: flex;
  align-content: flex-start;
  width: 80%;
  margin: 2em auto;
}

@media all and (min-width: 600px) {
  .results {
    flex-flow: column wrap;
    max-height: calc(5 * (175px + 2px) + 1 * (15px + 2px));
    /* 2px for borders */
  }
}

@media all and (max-width: 600px) {
  .results {
    flex-flow: column nowrap;
  }
}

.result {
  height: 15px;
  margin-bottom: -1px;
  display: grid;
  width: 211px;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #000;
  margin-right: 5px;
}

.result.image {
  height: 175px;
}

.result.image img {
  height: 160px;
}

.result.spacer {
  height: 1px;
  background-color: #000;
}

.result.head {
  background-color: #000;
  color: #FFF;
}

.result > .left {
  padding: 3px;
  grid-column: 1 / 2;
  text-align: center;
  background-color: white;
  color: black;
}

.result.image .left {
  position: relative;
}

.result.image > .left span {
  position: absolute;
  top: 50%;
  margin-top: -0.375em;
  text-align: center;
}

.result > .right {
  width: 160px;
  padding: 3px;
  grid-column: 2 / 3;
  border-left: 1px solid #000;
  text-align: center;
  background-color: white;
  color: black;

}

.info {
  margin: 2em auto 3em;
  display: block;
  text-align: center;
  font-size: 0.6875em;
  width: 80%;
  line-height: 1.2em;
}

a {
  color: #990000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #FF6600;
}

a:visited {
  color: #6600FF;
}